@charset "UTF-8";

*,:before,:after {
  box-sizing: border-box;
}

:active,:hover,:focus {
  outline: 0;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
  display: block;
}

a,img,input,button,textarea,optgroup,select {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

a,button,[type='button'],[type='submit'] {
  transition: color 0.2s, background 0.2s, opacity 0.2s;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

p a {
  text-decoration: underline;
}

b,strong {
  font-weight: 700;
}

img {
  border: 0;
  vertical-align: middle;
}

button,label,select,[type='button'],[type='submit'],[type='reset'],[type='checkbox'],[type='radio'] {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

input[disabled],button[disabled] {
  pointer-events: none;
}

input::-moz-focus-inner,button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type='search'],input::-webkit-search-cancel-button,input::-webkit-search-decoration,input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  overflow: auto;
  resize: none;
}

h1,h2,h3,h4,h5,h6 {
  text-rendering: optimizeLegibility;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: 0;
}

ul,ol,menu {
  margin: 0;
  padding: 0;
  -moz-padding: 0;
  -webkit-padding: 0;
  list-style: none;
}

article img,article embed,article object,article video,article iframe {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

article ul,article ol,article menu {
  margin: 0 0 1em;
}

article ul ul,article ol ul,article menu ul,article ul ol,article ol ol,article menu ol,article ul menu,article ol menu,article menu menu {
  margin: 0;
  padding: 0 0 0 1em;
}

article ul > li:before,article ol > li:before,article menu > li:before {
  padding-right: 0.5em;
}

article ul > li:before,article menu > li:before {
  content: '•';
  font-family: Tahoma;
}

article ul > li li:before,article menu > li li:before {
  content: '○';
}

article ol {
  counter-reset: count;
}

article ol > li:before {
  content: counter(count) '.';
  counter-increment: count;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,th {
  padding: 0;
  text-align: center;
}

:-moz-placeholder,::-moz-placeholder {
  opacity: 1;
}

@-ms-viewport {
  width: device-width;initial-scale: 1;
}

@-moz-viewport {
  width: device-width;initial-scale: 1;
}

@-webkit-viewport {
  width: device-width;initial-scale: 1;
}
