@charset "UTF-8"

*, :before, :after
    box-sizing border-box

:active, :hover, :focus
    outline 0

html, body
    height 100%
    margin 0
    padding 0

body
    min-height 100%
    overflow auto
    overflow-x hidden

    // Wrap text
    word-wrap break-word

    // Fix rendering fonts
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    // Fix text zoom on Mobile Devices
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%

    // Fix tap color
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)

    // Remove 300ms delay on Mobile Devices
    -ms-touch-action manipulation
    touch-action manipulation

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary
    display block

a, img, input, button, textarea, optgroup, select
    font inherit
    color inherit
    line-height inherit
    text-transform inherit
    text-shadow inherit
    border none
    background none
    box-shadow none
    border-radius 0
    margin 0
    padding 0

a
    cursor pointer
    text-decoration none

// Add default animation
a, button, [type="button"], [type="submit"]
    transition color .2s, background .2s, opacity .2s

// Fix font-weight
b, strong
    font-weight 700

img
    border 0
    vertical-align middle

// Remove user-select and add cursor pointer on button
button, label, select, [type="button"], [type='submit'], [type="reset"], [type='checkbox'], [type='radio']
    -ms-user-select none
    -moz-user-select none
    -webkit-user-select none
    user-select none
    cursor pointer

input, button
    &[disabled]
        pointer-events none

    // Remove padding in FF
    &::-moz-focus-inner
        border 0
        padding 0

input
    &[type='search'], &::-webkit-search-cancel-button, &::-webkit-search-decoration, &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
        -webkit-appearance none
    &[type='number']
        -moz-appearance textfield

textarea
    overflow auto
    resize none

h1, h2, h3, h4, h5, h6
    text-rendering optimizeLegibility
    font-family inherit
    font-weight 500
    line-height 1.1
    color inherit
    margin 0

ul, ol, menu
    margin 0
    padding 0
    -moz-padding 0
    -webkit-padding 0
    list-style none

// Valid stylization in text
article
    a
        text-decoration underline
    img
        max-width 100%

    // Add margins
    ul, ol, menu
        margin 0 0 1em
        ul, ol, menu
            margin 0
            padding 0 0 0 1em
        > li
            &:before
                padding-right .5em

    // Fix align marker
    ul, menu
        > li
            &:before
                content '•'
                font-family Tahoma
            li
                &:before
                    content '○'

    // Fix align counter
    ol
        counter-reset count
        > li
            &:before
                content counter(count) '.'
                counter-increment count

// Wrap text
p
    -ms-hyphens auto
    -moz-hyphens auto
    -webkit-hyphens auto
    hyphens auto

table
    border-spacing 0
    border-collapse collapse

td, th
    padding 0
    text-align center

// Fix placeholder color in FF
:-moz-placeholder, ::-moz-placeholder
    opacity 1

// Fix viewport in IE 10 Mobile
@-ms-viewport
    width device-width